*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron', sans-serif;
}

body{
background:black;
color:white;
overflow:hidden;
}

#loading-screen{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
animation: fadeOut 3s forwards;
animation-delay:2s;
}

@keyframes fadeOut{
to{opacity:0; visibility:hidden;}
}

.background{
position:fixed;
width:100%;
height:100%;
background:url("assets/bg.jpg") center/cover no-repeat;
filter:brightness(40%);
z-index:-1;
}

.menu{
position:absolute;
top:50%;
left:10%;
transform:translateY(-50%);
}

.logo{
font-size:40px;
margin-bottom:40px;
letter-spacing:5px;
}

.menu ul{
list-style:none;
}

.menu li{
font-size:24px;
margin:20px 0;
cursor:pointer;
transition:0.3s;
}

.menu li:hover{
color:#00f0ff;
transform:translateX(10px);
}

.content{
position:absolute;
right:10%;
top:50%;
transform:translateY(-50%);
width:40%;
display:none;
animation: fadeIn 0.5s forwards;
line-height: 2;
}

@keyframes fadeIn{
from{opacity:0;}
to{opacity:1;}
}

.gallery{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.gallery img{
width:100%;
cursor:pointer;
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.05);
}

.btn{
display:inline-block;
padding:15px 30px;
background:#00f0ff;
color:black;
text-decoration:none;
margin-top:20px;
}

.contact-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.secondary{
    background:transparent;
    border:2px solid #00f0ff;
    color:#00f0ff;
}

.secondary:hover{
    background:#00f0ff;
    color:black;
}

.contact-icons{
    display:flex;
    gap:40px;
    margin-top:30px;
}

.icon-btn{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
    position:relative;
}

.icon{
    font-size:40px;
    margin-bottom:10px;
    transition:0.3s;
}

.icon-btn:hover .icon{
    transform:scale(1.2);
    text-shadow:0 0 20px #00f0ff;
}

.icon-btn:hover{
    color:#00f0ff;
}

.icon-btn::after{
    content:"";
    position:absolute;
    bottom:-10px;
    width:0%;
    height:2px;
    background:#00f0ff;
    transition:0.3s;
}

.icon-btn:hover::after{
    width:100%;
}